# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.Python

# DBT
target/
dbt_packages/
logs/
dbt.log
manifest.json
run_results.json

# Airflow
airflow.db
logs/
*.pid
airflow/logs/
*.log
*.cfg
dags/__pycache__/
plugins/__pycache__/
simple_auth_manager_passwords.json.generated

# IDE / OS
.vscode/
.idea/
.DS_Store

# Secrets
.env

notes.txt